name: Train Neural Network (Simulation)

permissions:
  pull-requests: write
  contents: read

on:
  pull_request:
  push:
    paths:
      - model.yaml

jobs:
  simulate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run simulation
        run: python simulate.py | tee output.txt

      - name: Comment on PR
        if: github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          recreate: true
          path: output.txt
